* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(min-width:768px) {
    .container {
        width: 670px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background-color: #000000e7;
    color: #ffffffdf;
}

.parent {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

input {
    border-radius: 5px;
    border-color: transparent;
    color: #ffffffc2;
    background-color: #00000071;
    padding-bottom: 15PX;
}

input:focus {
    padding: 5px 9px;
    background-color: black;
}

main .full {
    width: 100%;
}

main .fourInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.fourInput small {
    background-color: brown;
    border-radius: 5px;
    padding: 8px 8px;

}

.fourInput small::before {
    content: "Total:";

    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;



}

main .fourInput input {
    width: 20%;

}

.INPOTAT div {
    padding-bottom: 5px;
}

button {
    width: 100%;
    background-color: #050564dd;
    color: #f5f5f5a7;
    border: none;
    outline: none;
    padding: 10px 2px;
    border-radius: 6px;
}

button:hover {
    background-color: #050564af;
    cursor: pointer;
}

.searchBy {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

}

.searchBy button {
    width: 40%;
}

table {
    width: 100%;
}

th,
td {
    padding-right: 10%;
    padding-top: 10px;
    font-size: 91%;
    text-align: center;
}

#table button {
    padding-top: 10px;
    width: auto;
}